#chat-div{
    width: 50vw;
    height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#chat-div div:first-child{
    width:32%;
}

#chat-div div:last-child{
    width:68%;
}

.sent{
    border-radius: 7px;
    border-top-right-radius: 0px;
}

.receive{
    border-radius: 7px;
    border-top-left-radius: 0px;
}

@media (min-width:200px) and (max-width:1000px) {
    #chat-div{
        width: 90vw;
        height: 50vh;
    }
}

@keyframes autoscroll {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}