#home-div{
    width: 30vw;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#room-input{
    width:75%;
}

@media (min-width:1px) and (max-width:1000px) {
    #home-div{
        width: 90vw;
    }
    #room-input{
        width:90%;
    }
}

@media (min-height:720px) and (max-height:780px) {
    #home-div{
        height: 54vh;
    }
}

@media (max-height:719px) {
    #home-div{
        height: 60vh;
    }
}